body{
    font-family: 'Prompt', sans-serif;
}
.text-footer{
    color: white;
}

.linkFooter a{
    color: white;
}

.registerForm{
    margin: 100px 0px 0px 30px;
    padding: 20px;
    background-color: rgb(243, 243, 243);
    width: 55%;

}

.form-group{
    padding: 3px;
}